<div class="row">
    <div class="col-xs-12">
      <h1>Ref Date</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle">
          Manage Vegetable <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#">Update Vegetable</a></li>
          <li><a href="#">Delete Vegetable</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      DGUID
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      Area Production Value
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      UOM
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      UOM ID
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      Scalar Factor
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      Scalar ID
    </div>
  </div>
  