<h3>Edit Inventory</h3>
<form [formGroup]="form" (ngSubmit)="onSubmitEdit()">
  <label>Ref Date: </label>
  <input type="text" class="form-control" formControlName="refDate">
  <label>DGUID: </label>
  <input type="text" class="form-control" formControlName="dguid">
  <label>Type of Product: </label>
  <input type="text" class="form-control" formControlName="typeOfProduct">
  <label>UOM: </label>
  <input type="text" class="form-control" formControlName="uom">
  <label>UOM ID: </label>
  <input type="text" class="form-control" formControlName="uomId">
  <label>Scalar Factor: </label>
  <input type="text" class="form-control" formControlName="scalarFactor">
  <label>Scalar ID: </label>
  <input type="text" class="form-control" formControlName="scalarId">
  <label>Vector: </label>
  <input type="text" class="form-control" formControlName="vector">
  <label>Coordinate: </label>
  <input type="text" class="form-control" formControlName="coordinate">
  <label>Value: </label>
  <input type="text" class="form-control" formControlName="value">
  <label>Status: </label>
  <input type="text" class="form-control" formControlName="status">
  <label>Symbol: </label>
  <input type="text" class="form-control" formControlName="symbol">
  <label>Terminated: </label>
  <input type="text" class="form-control" formControlName="terminated">
  <label>Decimals: </label>
  <input type="text" class="form-control" formControlName="decimals">
  <!-- add more input fields here -->
  <br>
  
  <button class="btn btn-primary" type="submit">
    Save changes
  </button>
</form>
