<div class="row">
    <div class="col-xs-12">
      <h2>Inventory Details</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle">
          Manage Vegetable <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#">Update Vegetable</a></li>
          <li><a href="#">Delete Vegetable</a></li>
        </ul>
      </div>

      
    </div>
    
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="col-xs-3">
        <p><strong>ID: </strong>{{selectedVegetable?.Id}}</p>
        
      </div>
      
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="col-xs-3">
        <p><strong>Ref Date: </strong>{{selectedVegetable?.RefDate}}</p>
        
      </div>
      <div class="col-xs-3">
        <p><strong>DGUID: </strong>{{selectedVegetable?.Dguid}}</p>
      </div>
      <div class="col-xs-3">
        <p><strong>Type of Product: </strong>{{selectedVegetable?.TypeOfProduct}}</p>
      </div>
      <div class="col-xs-3">
        <p><strong>Type of Storage: </strong>{{selectedVegetable?.TypeOfStorage}}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="col-xs-3">
        <p><p><strong>UOMID: </strong>{{ selectedVegetable?.UomId }}</p>
      </div>
      <div class="col-xs-3">
        <p><p><strong>UOM: </strong>{{ selectedVegetable?.Uom }}</p>
      </div>
      <div class="col-xs-3">
        <p><strong>Scalar Factor: </strong> {{ selectedVegetable?.ScalarFactor }}</p>
      </div>
      <div class="col-xs-3">
        <p><strong>Scalar ID: </strong> {{ selectedVegetable?.ScalarId }}</p>
      </div>
      <div class="col-xs-3">
        <p><strong>Vector: </strong>{{ selectedVegetable?.Vector }}</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="col-xs-3">
        <p><strong>Cordinate: </strong> {{ selectedVegetable?.Coordinate }}</p>
      </div>
      <div class="col-xs-3">
        <p><strong>Value: </strong> {{ selectedVegetable?.Value }}</p>
      </div>
      <div class="col-xs-3">
        <p><strong>Status: </strong> {{ selectedVegetable?.Status }}</p>
      </div>
      <div class="col-xs-3">
        <p><strong>Simbol: </strong> {{ selectedVegetable?.Symbol }}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="col-xs-6">
        <p><strong>Terminate: </strong> {{ selectedVegetable?.Terminated }}</p>
      </div>
      <div class="col-xs-6">
      <p><strong>Deciamls: </strong> {{ selectedVegetable?.Decimals }}</p>
    </div>
    </div>
  </div>
  
  
  <br>
  <h3>Add New/Edit Inventory</h3>
  <button class="btn btn-primary" (click)="onAddInventory()">
    Add Inventory
  </button>
  <button class="btn btn-primary" >
    Save changes
  </button>
  <div class="row">
    <div class="col-xs-12">
      
        <label>Ref Date: </label>
        <input type="text" class="form-control" [(ngModel)]="newRefDate">
        <label>DGUID: </label>
        <input type="text" class="form-control" [(ngModel)]="newDguid">
        <label>Type of Product: </label>
        <input type="text" class="form-control" [(ngModel)]="newTypeOfProduct">
        <label>UOM: </label>
        <input type="text" class="form-control" [(ngModel)]="newUom">
        <label>UOM ID: </label>
        <input type="text" class="form-control" [(ngModel)]="newUomId">
        <label>Scalar Factor: </label>
        <input type="text" class="form-control" [(ngModel)]="newScalarFactor">
        <label>Scalar ID: </label>
        <input type="text" class="form-control" [(ngModel)]="newScalarId">
        <label>Vector: </label>
        <input type="text" class="form-control" [(ngModel)]="newVector">
        <label>Coordinate: </label>
        <input type="text" class="form-control" [(ngModel)]="newCoordinate">
        <label>Value: </label>
        <input type="text" class="form-control" [(ngModel)]="newValue">
        <label>Status: </label>
        <input type="text" class="form-control" [(ngModel)]="newStatus">
        <label>Symbol: </label>
        <input type="text" class="form-control" [(ngModel)]="newSymbol">
        <label>Terminated: </label>
        <input type="text" class="form-control" [(ngModel)]="newTerminated">
        <label>Decimals: </label>
        <input type="text" class="form-control" [(ngModel)]="newDecimals">
        <br>
        
      
    </div>
  </div>
  
  