<div class="row">
  <div class="col-xs-12">
    <button class="btn-success">New Vegetable</button>
  </div>
</div>
<div class="row">
  <div class="col-md-5 text-center">
    <div class="scrollable-content-parent">
      <a href="#" class="list-group-item clearfix" *ngFor="let vegetable of vegetablesList; let i = index"
        [ngClass]="{ 'table-yellow-row': i % 2 === 0, '': i % 2 !== 0 }" (click)="onClickTable(vegetable)">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Index</th>
              <th>Ref Date</th>
              <th>DGUID</th>
              <th>Area Production Value</th>
              <th>UOM</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ i + 1 }}</td>
              <td>{{ vegetable.RefDate }}</td>
              <td>{{ vegetable.Dguid }}</td>
              <td>{{ vegetable.AreaProductionValue }}</td>
              <td>{{ vegetable.Uom }}</td>
            </tr>
          </tbody>
        </table>
      </a>
    </div>
  </div>
  <div class="col-md-7">
    <app-vegetables-detail [selectedVegetable]="vegetableItem"></app-vegetables-detail>
  </div>
</div>
